
.banner {
  min-width: 100vh ; 
  max-height:30vh;
}

.banner__Bg{
 width: 105vh;
 position: absolute;
 max-height:30vh;
  };
  
.banner__Pic{
  overflow:visible;
  width : 10vh;
  z-index: 10;
  height: 10vh;
  
  };