.Outline {
  display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
}
body{
  background-color: #b1bbc8;
  min-width: -webkit-fill-available; 
  margin: 0px;
}
.banner {
  min-width: 100vw ; 
  max-height: 35vh;
  min-height: 35vh;
}

.banner__Bg{
 min-width: 100vw;
 max-height:35vh;
 min-height: 35vh;
} 

.banner__PicText{
  max-height: 17vh;
  min-height: 10vh;
  position: absolute;
  top: 5vh;
  width: 99vw;
  height:20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner__Text{
  position: absolute;
  top: 17vh;
  text-align: center;
  color: #536e8f;
  font-weight: bold;
  font-size: 20px;
}
.NavigationBar{
  min-width: 100vh;
  max-height: 15vh;
  display: flex;
  min-height: 6vh;
  justify-content:space-evenly;
  align-items: stretch;
  background-color: #9897ad;
  font-weight: bolder;
  flex-direction: row;
}
.NavigationBar__NavButton{
text-align:center;
font-size: 30px;
margin-top: 1vh;
background-color: #9897ad;
border: #9897ad;
width: 20%;
text-decoration: none;
color: #FFFFFF;
}
.NavigationBar__NavButton:hover{
  background-color: #8C9BAE;
}
.Layout{
 display: flex;
 margin-top: 10vh;
 flex-direction: column;
 min-width: 80vw;
 max-width: 90vw;
}
.Layout__Tech{

}
.Content{
  width: 60vw;
  margin-top: 1vh;
  background-color: #8C9BAE;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 3vw;
  border-radius: 20px;
  display: flex;
}
.Content__Tech{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  background-color: #8C9BAE;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 3vw;
  border-radius: 20px;
  display: flex;
  align-items: center;

}
.Content__text{
  max-width: 70vw;
  margin-top: 3vh;
  
  color: #FFFFFF;
  font-size: 25px;
  
}
.Content__Languages, .Content__Frontend, 
.Content__Backend, .Content__Other{
  display: flex;
  padding: 0%;
  margin-left: 2vw;
  margin-top: 3vh;
  text-align: center;
  list-style-type: none;
}

.circle{
  margin-left: -8vw;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  background-color: #D9D9D9;
  

}
.circle::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
.circle__Abtme{
  margin-left: -8vw;
  margin-top: 6vh ;
  margin-bottom: 6vh;
  border-radius: 50%;
  height: 10vh;
  width: 20vh;
  background-color: #D9D9D9;
}

h2{
  text-align: center;
  padding-top: 4vh;
  font-size: 18px;  
}
.Title__AboutMe{
  padding-top: 2vh;
  font-size: 20px;
  
}
.circle__Cont{
  margin-top: 4vh;
  margin-left: -7vw;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #D9D9D9;  
}
.circle__Proj{
  margin-top: 4vh;
  height: 100px;
  width: 150px;
}
.Content__bttn{
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  text-align: center;
}
.bttn{
  background-color: #536e8f;
  border: #536e8f;
  color: #D9D9D9;
  margin-top: 1vh;
  min-width: 20px;
  text-align: center;
  
}
.bttn:visited{
  text-decoration: none;
}
.bttn{
  display: inline-block;
  text-decoration: none;
  z-index: 2;
  padding: 1vh;
  margin: 1vh;
  width: 20vh;
  font-size: 20px;
}
.Content__Email{
  display: block;
}
.Layout__Proj{
  display: flex;
  flex-direction: row;
}
.Proj__text{
  max-width: 70vw;
  margin-top: 3vh;
  margin-left: 2vw;
  color: #FFFFFF;
  font-size: 20px;
}
.Proj__bttn{
  display: flex;
  flex-direction: row;
  margin: auto;
  font-size: 30px;
}

@media screen and (max-width:480px) { 
  .banner__Text {
    font-size: 15px;
  }
  .banner {
    min-width: max-content;
  }
  .NavigationBar {
    min-width: max-content;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  .NavigationBar__NavButton{
    max-width: 23vw;
    font-size: 17px;

  }  
  .Content {
    min-width: 90vw;
  
  }
  .Content__text {
    max-width: 90vw;
  }
  .Content__Backend{
    display: grid;
    grid-template-columns: auto auto auto auto;

  }
  .circle {
    display: none;
  }
  
  .Content__text, .Proj__text{
    font-size: 15px;
    text-align: center;
  }

} 
@media screen and (min-width: 1200px){
  
}