 
  body{
    background-color: #b1bbc8;
    min-width: 99vw; 
    margin: 0px;
    position: relative;
  }
  
  .banner {
    min-width: 100vw;
    max-height: 20vh;
  }
  
  .banner__Bg{
    max-width: 100vw;
    height:26vh;
    min-width: 100vw;
  } 

  .banner__PicText{
    max-height: 19vh;
    min-height: 10vh;
    position: absolute;
    top: 1vh;
    width: 99vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .banner_Pic{
    margin-top: 3vh;
    margin-bottom: 4vh;
  }
  .banner__Text {
    position: absolute;
    top: 16vh;
    text-align: center;
    color: #536e8f;
    font-weight: bold;
    font-size: 17px;
  }
 
  .NavigationBar{
    min-width: 100vw;
    max-height: 15vh;
    display: flex;
    min-height: 6vh;
    justify-content:space-evenly;
    align-items: stretch;
    background-color: #9897ad;
    font-weight: bolder;
    flex-direction: row;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  
  .NavigationBar__NavButton{
    text-align:center;
    margin-top: 1vh;
    background-color: #9897ad;
    border: #9897ad;
    width: 20%;
    text-decoration: none;
    color: #FFFFFF;
    max-width: 23vw;
    font-size: 17px;
  } 
  .NavigationBar__NavButton:hover{
    background-color: #8C9BAE;
  }
  .Outline{
    align-content: center;
  }  
  .Layout{
    margin-top: 17vh;
    max-width: 90vw;
    margin-left: 5vw;
  }
  .Content {
    width: 85vw;
    align-items: center; 
    background-color: #8C9BAE;
    padding: auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1vh;
  }
.Content__text {
  max-width: 70vw;
  margin-top: 3vh;
  color: #FFFFFF;
  font-size: 25px;  
  max-width: 80vw;
  font-size: larger;
}

.Proj__Bttn{
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.circle{
  background-color: transparent;  
}

.Title__AboutMe {
  display: none;
}

.Content__text, .Proj__text{
  font-size: 15px;
  text-align: center;
}

.bttn{
  background-color: #536e8f;
  border: #536e8f;
  color: #D9D9D9;
  min-width: 20px;
  display: inline-block;
  text-decoration: none;
  z-index: 2;
  padding: 1vh;
  margin: 1vh;
  width: 20vh;
  text-align: center;
}
.bttn:visited{
  text-decoration: none;
}
.Content__Tech{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  background-color: #8C9BAE;
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 3vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.Tech__Titles{
  font-size: 19px;
  text-align: center;
  margin: auto;
  margin-top: -5vh;
  color: #D9D9D9;
}

.Title__Backend{
  text-align: center;
  font-size: 19px;
  margin-top: -8.5vh;
  margin-left: -0.5vw;
  color: #D9D9D9;

}

.Content__Languages, .Content__Frontend, 
.Content__Backend, .Content__Other{
  display: flex;
  padding: 0%;
  margin-left: 2vw;
  margin-top: 3vh;
  text-align: center;
  list-style-type: none;
}
.Content__Backend{
  margin-top: 5vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.Layout__Proj{
  display: flex;
  flex-direction: row;
}

.Proj__Content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.Proj__text{
  max-width: 70vw;
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 6vw;
}

.Proj__Bttn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

